*{
    margin: 0px;
    margin-top: 0px;
}
body{
    background-color: rgb(0, 0, 0);
    
}
h1{
    margin-top: 20px;
    padding-left: 20px;
    color: #fff;
}
h5{
    margin: 5px;
    padding-left: 20px;
    color: #fff;
}
div h5{
    margin-top: 15px;
}
aside b{
    font-size:large;
}
nav{
    display:flex;
    justify-content:space-between;
    
}
ul li a{
    margin-top: 20px;
    margin-right: 30px;
    width: 5vw;
    color: #fff;
    list-style-type: none;
    display:flex;
    text-decoration: none;
    float: right;
    
}
#summary{
    color: #fff;
    padding-left: 20px;
    margin-top: 50px;
    font-style: italic;
}
p{
    color: #fff;
    padding-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
}
#actor{
    color: #fff;
    padding-left: 30px;
    margin-top: 50px;

}
.cast{
    color: #fff;
}
div ul li{
    list-style-type:circle;
    margin-top: 3px;
}
div ul{
    margin-top: 15px;
}
.quotes{
    color: #fff;
    padding-left: 20px;
    margin-top: 50px;
}
footer{
    color: #fff;
    margin-top: 140px;
    text-align: center;
}
    
/* Your CSS Code here. */